#header {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    background-color: #fff;
    opacity: 100;
}

nav {
    display: inline-block;
    font-family: Catamaran, sans-serif;
    width: 100%;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-decoration: none;
    border-bottom: 1px solid black;
}

a:active {
    text-decoration: none;
}

#main {
    padding-top: 250px;
}

h1 {
    font-family: Raleway, sans-serif;
    font-size: 60px;
    text-align: center;
}

h2 {
    font-family: Raleway, sans-serif;
    font-style: italic;
    font-size: 30px;
}
.iframe {
    display: flex;
    flex-shrink: 1;
    width: 560px;
    margin: 0 auto;
}

.jacket {
    width: 76%;
}
.flex-container {
    margin-top: 30px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
    }
}


.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.products ul.apparel{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 340px; /* width of each table */
    margin-right: 20px; /* spacing between tables */
    border: 1px dotted gray;
    border-radius: 10px;
    font-family: Catamaran, sans-serif;
}
 
@media only screen and (max-width: 600px) {
    .products ul.apparel{
        border-radius: 0;
        width: 100%;
        margin-right: 0;
    }
     
    .products a.pricebutton{
        display: block;
    }
}

li img {
    width: 98%;
    display: flex;
}
